@import url(./reset_styles.css);

@font-face {
    font-family: 'Mulish';
    src: url(fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf);
    src: url(fonts/Mulish/Mulish-VariableFont_wght.ttf)
}

@font-face {
    font-family: 'Rochester';
    src: url(fonts/Rochester/Rochester-Regular.ttf);
}

@font-face {
    font-family: 'Playfair_Display';
    src: url(fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    margin: 0 auto;
    background: #f3f2f2;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #fff;
}

.header-upper-container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: 0;
    color: beige;
}

.header-upper-container span {
    font-family: 'Rochester';
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
}

.header-upper-container span a {    
    cursor: pointer;
    text-decoration: none;
    color: #1B2437;
}

.header-upper-container__central_wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.header-upper-container__right_wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.fill-svg:hover path {
	fill: #0051ff;
}

.stroke-svg:hover path {
    stroke: #0051ff;
}

a:hover svg {
	transform: scale(1.2);
	transition: 0.5s;
}

.header-lower-container {
    padding-top: 20px;
    padding-bottom: 20px;  
}

.header-lower-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0;
    margin: 0;
}

.header-lower-container li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    list-style: none;
}

.header-lower-container li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;        
}

.header-lower-container li:hover a {
    color: #EDA3B5;
}

.header-lower-container li:hover::after {
    content: '';
    position: absolute;
    background-color: #EDA3B5;
    bottom: -12px;
    height: 3px;
    width: 34px;    
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.header-lower-container li:last-child:hover::after {
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* перша секція */

.first-section {
    background: url(images/hero.png) center center / cover no-repeat;
    padding-top: 103px;
    padding-bottom: 118px;
    background-color: #b1a9a7;
    margin-bottom: 71px;
}

.first-section-content {
    width: 100%;
    max-width: 446px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.first-section-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    max-width: 361px;
    color: #fff;    
}

.first-section-content p {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 21px;
}

.first-section-content button {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #fff;
    background: #1B2437;
    cursor: pointer;
    width: 255px;
    height: 77px;
    border-radius: 15px;
    border: none;
}

.first-section-content button:hover {
    background: #fff;
    color: #1B2437;
    border: none;
}

.second-section-grid-wrapper {
    display: grid;
    gap: 30px;
    margin-bottom: 70px;
    grid-template-columns: 0.5fr 0.5fr 0.67fr 0.67fr;
    grid-template-rows: 0.5fr 0.5fr 0.7fr;
}

.second-section__first_grid_item {
    background: url(images/women_collection_category.png) center center / cover no-repeat;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.second-section__second_grid_item {
    grid-column: 3;
    grid-row: 1;
    background-color: aqua;
}

.second-section__third_grid_item {
    grid-column: 4;
    grid-row: 1;
    background-color: aquamarine;
}

.second-section__fourth_grid_item {
    grid-column: 3 / span 4;
    grid-row: 2;
    background-color: #0051ff;
    gap: 0;
}

.second-section__fifth_grid_item {
    grid-column: 1 / span 4;
    grid-row: 3;
    background-color: #EDA3B5;
}